a:link {
	color: #F4EBD9;
	text-decoration: none;
}

a:visited {
	color: #F4EBD9;
	text-decoration: none;
}

a:hover {
	color: #F4EBD9;
	text-decoration: none;
}

a:active {
	color: #F4EBD9;
	text-decoration: none;
}